@model Bileti.Domain.Models.Bilet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bilet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiletName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiletName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiletDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiletDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiletPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiletPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiletCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiletCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiletDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiletDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
